{% load static %}
<!DOCTYPE html>
<html lang="en" class="isPWA">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&amp;family=Roboto:wght@400;500;700&amp;display=swap"
          rel="stylesheet">
    <meta id="theme-check" name="theme-color" content="#FFFFFF">
    <title>{% block title %}Help and Support{% endblock %}</title>
    {% block style %}
    {% endblock %}

</head>

<body class="theme-light">

<div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
</div>

<div id="page">

    <!-- Header -->
    <div class="header-bar header-fixed header-app header-bar-detached">
        <a data-bs-toggle="offcanvas" data-bs-target="#menu-main" href="#"><i class="bi bi-list color-theme"></i></a>
        <a href="#" class="header-title color-theme">Help and Support</a>
    </div>


    <!-- Main Sidebar-->
    <div id="menu-main" data-menu-active="nav-homes" data-menu-load="menu-main.html"
         style="width:280px;" class="offcanvas offcanvas-start offcanvas-detached rounded-m">
    </div>

    <!-- Menu Highlights-->
    <div id="menu-color" data-menu-load="menu-highlights.html"
         style="height:340px" class="offcanvas offcanvas-bottom offcanvas-detached rounded-m">
    </div>

    <!-- Main Bell-->
    <div id="menu-bell" data-menu-load="menu-bell.html"
         style="height:400px;" class="offcanvas offcanvas-top offcanvas-detached rounded-m">
    </div>

    <!-- Your Page Content Goes Here-->
    <div class="page-content mb-0 pb-0">
        <div class="card card-style mb-0 bg-transparent shadow-0 bg-3 mx-0 rounded-0" data-card-height="cover"
             style="height: 891px;">
            <div class="card-center">
                <div class="card card-style">
                    <div class="content">
                        <h1 class="text-center font-800 font-30 mb-2">Sign In</h1>
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-custom form-label form-icon mb-3">
                                <i class="bi bi-person-circle font-14"></i>
                                {{ form.username.errors }}
                                {{ form.username }}
                                <label for="id_username" class="color-theme">Account Name</label>
                                <span>(required)</span>
                            </div>
                            <div class="form-custom form-label form-icon mb-3">
                                <i class="bi bi-asterisk font-12"></i>
                                {{ form.password.errors }}
                                {{ form.password }}
                                <label for="id_password" class="color-theme">Password</label>
                                <span>(required)</span>
                            </div>
                            <button type="submit"
                                    class="btn rounded-sm btn-m gradient-green text-uppercase font-700 mt-4 mb-3 btn-full shadow-bg shadow-bg-s">
                                Sign In
                            </button>
                        </form>
                        <div class="d-flex">
                            <div>
                                <a href="#" class="color-theme opacity-30 font-12">Recover Account (Under
                                    Development)</a>
                            </div>
                            <div class="ms-auto">
                                <a href="{% url 'register' %}" class="color-theme opacity-30 font-12">Create Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- End of Page Content-->
    <div class="offcanvas offcanvas-bottom rounded-m offcanvas-detached" id="menu-install-pwa-ios">
        <div class="content">
            <img src="app/icons/icon-128x128.png" alt="img" width="80" class="rounded-l mx-auto my-4">
            <h1 class="text-center font-800 font-20">Add Duo to Home Screen</h1>
            <p class="boxed-text-xl">
                Install Duo on your home screen, and access it just like a regular app. Open your Safari menu and tap
                "Add to Home Screen".
            </p>
            <a href="#"
               class="pwa-dismiss close-menu gradient-blue shadow-bg shadow-bg-s btn btn-s btn-full text-uppercase font-700  mt-n2"
               data-bs-dismiss="offcanvas">Maybe Later</a>
        </div>
    </div>

    <div class="offcanvas offcanvas-bottom rounded-m offcanvas-detached" id="menu-install-pwa-android">
        <div class="content">
            <img src="app/icons/icon-128x128.png" alt="img" width="80" class="rounded-m mx-auto my-4">
            <h1 class="text-center font-700 font-20">Install Duo</h1>
            <p class="boxed-text-l">
                Install Duo to your Home Screen to enjoy a unique and native experience.
            </p>
            <a href="#"
               class="pwa-install btn btn-m rounded-s text-uppercase font-900 gradient-highlight shadow-bg shadow-bg-s btn-full">Add
                to Home Screen</a><br>
            <a href="#" data-bs-dismiss="offcanvas"
               class="pwa-dismiss close-menu color-theme text-uppercase font-900 opacity-50 font-11 text-center d-block mt-n1">Maybe
                later</a>
        </div>
    </div>

</div>


{% block scripts %}
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts/custom.js' %}"></script>
    <script src="{% static 'plugins/glightbox/glightbox.js' %}"></script>
{% endblock %}
</body>
</html>