{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&amp;family=Roboto:wght@400;500;700&amp;display=swap"
          rel="stylesheet">
    <meta id="theme-check" name="theme-color" content="#FFFFFF">
    <title>Account Disabled - Team Help and Support</title>

</head>

<body class="theme-light">
<!-- Header -->
<div class="header-bar header-fixed header-app header-bar-detached">
    <a href="{% url 'index' %}" class="header-title color-theme" style="padding-left: 20px">Help and Support</a>
</div>


<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">
    <div class="card card-style">
        <div class="content mb-0">
            <div class="form-custom form-label form-icon mb-3">
                <i class="bi bi-person-badge"></i>
                <input type="text" id="user-name" class="form-control rounded-xs" value="" readonly>
                <label for="user-name" class="color-theme form-label-always-active font-10 opacity-50">Username</label>
            </div>
            <div class="form-custom form-label form-icon mb-3">
                <i class="bi bi-envelope"></i>
                <input type="text" id="user-email" class="form-control rounded-xs" value="" readonly>
                <label for="user-email" class="color-theme form-label-always-active font-10 opacity-50">Email</label>
            </div>
            <div class="form-custom form-label form-icon mb-3">
                <i class="bi bi-wallet"></i>
                <input type="text" id="user-balance" class="form-control rounded-xs" value="" readonly>
                <label for="user-balance" class="color-theme form-label-always-active font-10 opacity-50">Balance</label>
            </div>

            <div class="divider mt-4"></div>

            <p>
                Your account has been disabled. Please contact the administrator for more information.
            </p>
        </div>
    </div>


</div>

<!-- End of Page Content-->

{% block scripts %}
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts/api_account_disabled.js' %}"></script>
{% endblock %}
</body>
</html>