{% extends 'index/index_help.html' %}
{% load static %}

{% block title %}View Completed Help Content{% endblock %}

{% block content %}

    <div class="card card-style">
        <div class="content">
            <h5 class="font-700 mb-n1 color-highlight">
                {{ help_content.push_user.first_name }} {{ help_content.push_user.last_name }}
            </h5>
            <h3 class="font-700 mb-n1">{{ help_content.content }}</h3>
            <p>
                <strong>Accept Time Limit:</strong>
                <span class="timer" id="timer" data-time="{{ help_content.accept_time_limit|date:'Y-m-d\\TH:i:s' }}">
                    {{ help_content.accept_time_limit }}
                </span>
            </p>
            <p>
                <strong>Details:</strong> {{ help_content.detail_info }}
            </p>
        </div>
    </div>


{% endblock %}

{% block scripts %}
{% endblock %}
