{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&amp;family=Roboto:wght@400;500;700&amp;display=swap"
          rel="stylesheet">
    <meta id="theme-check" name="theme-color" content="#FFFFFF">
    <title>{% block title %}Help and Support{% endblock %}</title>
    {% block style %}
    {% endblock %}

</head>

<body class="theme-light">


<!-- Header -->
<div class="header-bar header-fixed header-app header-bar-detached">
    <a href="{% url 'index' %}" class="header-title color-theme" style="padding-left: 20px">Help and Support</a>
</div>

<!-- Footer Bar-->
<div id="footer-bar" class="footer-bar footer-bar-detached">
    <a href="{% url 'index_help' %}" class="active-nav"><i class="bi bi-arrow-bar-up"></i><span>Help</span></a>
    <a href="{% url 'index_support' %}"><i class="bi bi-arrow-bar-down"></i><span>Support</span></a>
    <a href="{% url 'add_content' %}"><i class="bi bi-patch-plus"></i><span>Add</span></a>
    <a href="#"><i class="bi bi-archive"></i><span>My Content</span></a>
    <a href="{% url 'account_page' %}"><i class="bi bi-file-person"></i><span>Account</span></a>
</div>


<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">
    {% block content %}{% endblock %}

</div>
<!-- End of Page Content-->




{% block scripts %}
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
{% endblock %}
</body>
</html>