{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&amp;family=Roboto:wght@400;500;700&amp;display=swap"
          rel="stylesheet">
    <meta id="theme-check" name="theme-color" content="#FFFFFF">
    <title>{% block title %}Help and Support{% endblock %}</title>
    {% block style %}
    {% endblock %}

</head>

<body class="theme-light">

<!-- Header -->
<div class="header-bar header-fixed header-app header-bar-detached">
    <a href="{% url 'index' %}" class="header-title color-theme" style="padding-left: 20px">Help and Support</a>
</div>

<!-- Footer Bar-->
<div id="footer-bar" class="footer-bar footer-bar-detached">
    <a href="{% url 'index_help' %}"><i class="bi bi-arrow-bar-up"></i><span>Help</span></a>
    <a href="{% url 'index_support' %}"><i class="bi bi-arrow-bar-down"></i><span>Support</span></a>
    <a href="{% url 'add_content' %}" class="active-nav"><i class="bi bi-patch-plus"></i><span>Add</span></a>
    <a href="#"><i class="bi bi-archive"></i><span>My Content</span></a>
    <a href="{% url 'account_page' %}"><i class="bi bi-file-person"></i><span>Account</span></a>
</div>


<!-- Your Page Content Goes Here-->
<div class="page-content header-clear-medium">
    {% block content %}{% endblock %}
    <div class="card card-style">
        <div class="content">
            <h4>Get Help or Support</h4>
            <p>
                By sending Help or support connect By default you agree to all the terms of our website, which was
                created to connect people who offer help and those who are being helped. Your content should comply
                with the law and the relevant regulations of various institutions, otherwise your account will be
                disabled.
            </p>
            <div class="form-custom form-label mb-3 form-icon">
                <i class="bi bi-person-circle color-blue-dark font-14"></i>
                <input type="text" class="form-control rounded-xs" id="c1" value="{{ user_name }}" readonly>
                <label for="c1" class="form-label-always-active color-blue-dark">logged on user</label>
            </div>
            <div class="form-custom form-label mb-3 form-icon">
                <i class="bi bi-wallet color-blue-dark font-14"></i>
                <input type="text" class="form-control rounded-xs" id="c1" value="{{ account_balance }}" readonly>
                <label for="c1" class="form-label-always-active color-blue-dark">Account Balance</label>
            </div>

            <div class="divider mt-4"></div>

            <form method="POST" class="demo-animation needs-validation m-0" novalidate="">
                {% csrf_token %}

                <!-- select help or support -->
                <div class="form-custom form-label mb-3 form-icon">
                    <i class="bi bi-check-circle font-13"></i>
                    <select class="form-select rounded-xs" id="c6" name="comment_type"
                            aria-label="select the comment type">
                        <option value="Help" {% if form.comment_type.value == 'Help' %}selected{% endif %}>Help</option>
                        <option value="Support" {% if form.comment_type.value == 'Support' %}selected{% endif %}>
                            Support
                        </option>
                    </select>
                    <label for="c1" class="color-theme form-label-active">select the comment type</label>
                </div>

                <!-- number of accept user -->
                <div class="form-custom form-label mb-3 form-icon">
                    <i class="bi bi-person-bounding-box"></i>
                    <input type="number" class="form-control rounded-xs" id="c3" name="max_accept_user" placeholder="1"
                           value="{{ form.max_accept_user.value|default:1 }}" required="">
                    <label for="c2" class="color-theme form-label-always-active">max number of accept user</label>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please enter the number of accept users</div>
                </div>

                <!-- enter total money -->
                <div class="form-custom form-label mb-3 form-icon">
                    <i class="bi bi-currency-dollar"></i>
                    <input type="number" class="form-control rounded-xs" name="total_money" min="0" step="0.01"
                           value="{{ form.total_money.value }}">
                    <label for="c3" class="color-theme form-label-always-active">aggregate amount</label>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Please enter the aggregate amount</div>
                </div>

                <!-- accept date limit -->
                <div class="form-custom form-label mb-3 form-icon">
                    <i class="bi bi-calendar font-12"></i>
                    <input type="datetime-local" class="form-control rounded-xs" id="c5" name="accept_time_limit"
                           value="{{ form.accept_time_limit.value }}">
                    <label for="c4" class="color-theme form-label-always-active">Accept Limit Time</label>
                    <div class="valid-feedback">Please enter the date and time in YYYY-MM-DDT HH:MM format</div>
                </div>

                <!-- enter help or support message -->
                <div class="form-custom form-label mb-3 form-icon">
                    <i class="bi bi-pencil-fill font-12"></i>
                    <textarea class="form-control rounded-xs" name="content" placeholder="Leave a comment here" id="c7"
                              required="">{{ form.content.value }}</textarea>
                    <label for="c5" class="color-theme form-label-always-active">Content</label>
                    <div class="valid-feedback">Please enter your message</div>
                </div>

                <button class="btn btn-full bg-blue-dark rounded-xs text-uppercase font-700 w-100 btn-s mt-4"
                        type="submit">
                    Get Help or Support
                </button>
            </form>

        </div>
    </div>

</div>
<!-- End of Page Content-->




{% block scripts %}
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>


{% endblock %}
</body>
</html>